* {
  text-decoration: none !important;
  list-style: none !important;
  font-family: "Acme", sans-serif;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}
*:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

[data-theme="dark"] {
  --primary: #0f0f0f !important;
  --main: #8755f2;
}
[data-theme="light"] {
  --primary: #eeeeee !important;
  --main: #8755f2;
}
.App {
  background-color: var(--primary) !important;
}
.bg-main {
  background-color: var(--main) !important;
}
.bg-primarys {
  background-color: var(--primary) !important;
}
.text-main {
  color: var(--main) !important;
}
.text-primarys {
  color: var(--primary) !important;
}
.border-main {
  border: 2px solid var(--main) !important;
}
.border-primarys {
  border: 2px solid var(--primary) !important;
}
.bg-gradient {
  background: linear-gradient(
    180deg,
    rgb(24, 24, 24) 0%,
    rgba(0, 0, 0, 0.92) 110%
  );
}
.w-min {
  width: 260px !important;
  max-width: 100% !important;
}
li a {
  transition: all 0.5s ease !important;
}
li:hover a {
  color: var(--main) !important;
}
